export TF_VAR_global_config_path="$PWD/infrastructure/config/globals.yaml"
export TF_VAR_env_config_path="$PWD/config/envs/dev.yaml"
export TF_BACKEND_CONFIG_FILE="$PWD/infrastructure/environment/dev/backend/backend-config.json"

